<div class="row content">
    <div class="col-sm-2">
        <div class="text-center">
            <span class="thumbnail-wrapper">
                <a [href]="artist.image_url"><img [src]="artist.thumb_url" src="assets/img/default-cover.png" alt=""></a>
                <h2 class="artist-name">{{ artist.name }}</h2>
            </span>
            <a *ngIf="artist.facebook_page_url" class="facebook-icon" [href]="artist.facebook_page_url">
                <i class="fa fa-2x fa-facebook-square"></i>
            </a>
            <a class="external-icon text-info" [href]="artist.url">
                <i class="fa fa-2x fa-external-link-square"></i>
            </a>
        </div>
    </div>
    <div class="col-sm-10">
        <app-events *ngIf="artist.events && !loadingEvents" [events]="artist.events"></app-events>
        <div *ngIf="loadingEvents" class="loading-events text-center text-secondary"><em i18n>Loading events...</em></div>
        <div *ngIf="artist.upcoming_event_count == 0" class="no-upcoming text-center text-secondary" i18n>No upcoming events</div>
    </div>
</div>
