<div class="row content">
    <div class="col-12 col-lg-4 col-xl-2 mb-3">
        <div class="text-center">
            <span class="thumbnail-wrapper mx-auto">
                <p [hidden]="!loadingCover"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></p>
                <a [hidden]="loadingCover" [href]="artist.image_url" (click)="imgModal.show(); false"><img #coverImage src="assets/img/default-cover.png" onError="this.src='assets/img/default-cover.png';" alt=""></a>
                <h2 class="artist-name">{{ artist.name }}</h2>
            </span>
            <a *ngIf="artist.facebook_page_url" class="facebook-icon" [href]="artist.facebook_page_url">
                <i class="fa fa-2x fa-facebook-square"></i>
            </a>
            <a class="external-icon text-info" [href]="artist.url">
                <i class="fa fa-2x fa-external-link-square"></i>
            </a>
        </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-10">
        <app-events *ngIf="artist.events && !loadingEvents" [events]="artist.events"></app-events>
        <div *ngIf="loadingEvents" class="loading-events text-center text-secondary"><em i18n>Loading events...</em></div>
        <div *ngIf="artist.upcoming_event_count == 0" class="no-upcoming text-center text-secondary" i18n>No upcoming events</div>
    </div>
</div>

<div bsModal #imgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{ artist.name }}</h4>
                <button type="button" class="close pull-right" (click)="imgModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <img [src]="artist.image_url" alt="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
