<h5 i18n>Upcoming events <span class="numb-events text-muted">({{ events.length }})</span></h5>

<div class="card">
    <div class="card-block table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th i18n>Venue</th>
                    <th i18n>Location</th>
                    <th i18n>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td class="bold">{{ event.venue.name }}</td>
                    <td>{{ event.venue.city }}, {{ event.venue.country }}</td>
                    <td>{{ event.datetime | date:'mediumDate' }}</td>
                    <td>
                        <div class="btn-group pull-right" dropdown>
                            <button type="button" class="btn btn-default" i18n-title title="View on map" (click)="openMapLocation(event.venue)">
                                <i class="fa fa-map"></i>
                            </button>
                            <button type="button" class="btn btn-default" i18n-title title="View event" (click)="openWindow(event.url)">
                                <i class="fa fa-external-link"></i>
                            </button>
                            <button *ngIf="event.offers.length > 0" dropdownToggle type="button" class="btn btn-default dropdown-toggle" i18n-title title="Offers">
                                <i class="fa fa-ticket"></i>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li *ngFor="let offer of event.offers" role="menuitem">
                                    <a class="dropdown-item" [href]="offer.url" (click)="openWindow(offer.url); $event.preventDefault();">
                                        <i class="fa fa-circle mr-1" [ngClass]="offer.status != 'available' ? 'text-danger' : 'text-success'"></i> {{ offer.type }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" bsModal #mapModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" i18n>{{ eventInfo.name }}</h4>
                <button type="button" class="close pull-right" (click)="mapModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <agm-map #mapView [latitude]="eventInfo.lat" [longitude]="eventInfo.lng">
                    <agm-marker [latitude]="eventInfo.lat" [longitude]="eventInfo.lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>
