<div class="content-home">
    <div class="content-fluid">
        <div class="card home-box mx-auto p-3">
            <div class="card-body">
                <div class="text-center mb-4">
                    <img src="assets/img/home24-logo.svg" width="150">
                    <h1>Frontend Challenge</h1>
                </div>

                <form class="text-center" role="form" [formGroup]="formSearch" (ngSubmit)="onSubmit()">
                    <input type="text" class="input-lg" formControlName="keyword" i18n-placeholder placeholder="Search touring artists">

                    <button [disabled]="!formSearch.valid" type="submit" class="btn-search">
                        <i class="fa fa-lg fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
