<div class="header">
    <a href="#" routerLink="/"><img class="pull-left" src="assets/img/home24-logo.svg" width="150"></a>
    <div class="pull-left">
        <h1><i class="fa fa-ellipsis-v text-muted"></i> Frontend Challenge</h1>
    </div>
    <div class="pull-right">
        <form class="mt-2" role="form" [formGroup]="formSearch" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="keyword" class="input-lg" i18n-placeholder placeholder="Search touring artists">
            <button [disabled]="!formSearch.valid" type="submit" class="btn-search" i18n-title title="Search">
                <i class="fa fa-lg fa-search"></i>
            </button>
        </form>
    </div>
    <div class="clearfix"></div>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <p class="small pull-left text-secondary">© 2017 Home24 - Frontend Challenge</p>
    <p class="small pull-right">
        Hand-crafted <span class="text-muted">&amp; made with <i class="fa fa-heart text-danger"></i></span>
    </p>
    <div class="clearfix"></div>
</div>
